.main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
}

.tools-container {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-top: 10px;
  width: 100%;
  // min-height: 287px;
}
