.main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
}

.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  margin-top: 10px;
  width: 100%;
  min-height: 265px;
}

@media (max-width: 800px) {
  .tools-container {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 10px;
  }
}
