<p>Tools</p>
<div>
  <p-checkbox [binary]="true" inputId="checkbox" (onChange)="toggleZeroValues($event)" />
  <label for="checkbox">Exclude categories with zero-values</label>
  <div></div>
  <div>
    Show categories
    <div>
      from:
      <p-select size="small" [options]="alphabet" [checkmark]="true" [showClear]="true" placeholder="a"
        (onChange)="setFirstSortLetter($event)" />
      <span>to:</span>
      <p-select size="small" [options]="alphabet" [checkmark]="true" [showClear]="true" placeholder="z"
        (onChange)="setLastSortLetter($event)" />
    </div>
  </div>
</div>