<p>Tools</p>
<div>
  <p-checkbox
    [binary]="true"
    inputId="checkbox"
    (onChange)="toggleMinValues($event)"
  />
  <label for="checkbox">Exclude categories with min values</label>
  <div></div>
  <div>
    Show categories, start with:
    <div>
      <p-select
        size="small"
        [options]="options"
        optionLabel="label"
        [checkmark]="true"
        [showClear]="true"
        placeholder="Select first letter"
        (onChange)="setFilterLetter($event)"
      />
    </div>
  </div>
</div>
